.post-list-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.error {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 20px;
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.author-details {
  display: flex;
  align-items: center;
}

.author-name {
  font-weight: bold;
  color: rgb(92, 159, 223);
  margin-right: 20px;
}

.post-time {
  font-size: 12px;
  color: #888;
}

.post-controls {
  display: flex;
  gap: 10px;
}

.delete-icon {
  color: #e74c3c;
}

.control-icon {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit-icon {
  color: #3498db;
}

.control-icon:hover {
  color: #333;
}

.post-button {
  background: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.post-button:hover {
  background: #2980b9;
}

.delete-button {
  background: #e74c3c;
}

.post-content {
  margin-bottom: 15px;
  color: #333;
}

.read-more-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  background-color: #3498db;
  padding: 6px;
  border-radius: 8px;
  font-size: 14px;
}

.read-more-link:hover {
  text-decoration: underline;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  color: #888;
}

.left-actions {
  display: flex;
}

.post-actions button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-actions button:hover {
  color: #333;
}

.post-actions button .icon {
  font-size: 16px;
}



.post a:hover {
  text-decoration: underline;
}


.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-input, .edit-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.edit-input:focus, .edit-textarea:focus {
  border-color: #3498db;
  outline: none;
}

.edit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background: #3498db;
  color: #fff;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.edit-button:hover {
  background: #2980b9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cancel-button {
  background: #e74c3c;
}

.cancel-button:hover {
  background: #c0392b;
}


.author-info {
  display: flex;
  align-items: center;
}

.post-title {
  font-weight: 600;
}

.like-systeme-block {
  display: flex;
  align-items: center;
}