.user-card {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  cursor: pointer;
}


.top-user:nth-child(1) {
  border: 2px solid #ff4500; /* Оранжевый цвет для первого пользователя */
}

.top-user:nth-child(2) {
  border: 2px solid #c0c0c0; /* Серебряный цвет для второго пользователя */
}

.top-user:nth-child(3) {
  border: 2px solid #cd7f32; /* Бронзовый цвет для третьего пользователя */
}

.star {
  color: gray;
  font-size: 1.5em;
  margin-right: 2px;
}

.star.filled {
  color: gold;
}

.user-stars {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Добавляем отступ снизу, чтобы звезды были выше счетчика постов */
}